body {margin: 0;padding: 0}
ul li {
	 margin: 5px;
	 list-style: none;
}
img {border-width: 0;}
#fromHome {height: 100%;
    position: absolute;
    width: 100%;}
.n_menu_dec { display: block;
    height: 17px;
    left: 50px;
    overflow: hidden;
    position: absolute;
    top: -11px;
    width: 15px;}
.n_menu_dec1 {color: #CCCCCC;font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 17px;}
.n_menu_dec2 {color: #E8EBF0;top: 1px;  font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    width: 17px;}






.header {height:55px;width: 100%;border-bottom: 1px solid #CCCCCC;background:url("../image/0.jpg")}
.content { bottom: 0;position: absolute;top: 56px;width: 100%;}
.content iframe { border: medium none;
    height: 100%;
    position: absolute;
    width: 100%;}
.n_menu {margin: 0;padding: 0;}
.n_menu_btn {background: url("../image/start_menu.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 40px;
    margin: 8px 20px;
    width: 97px;}
.n_menu_btn:active {background: url("../image/start_menu.png") no-repeat scroll 0 -40px transparent;}
.n_menu { height: 380px;
    left: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    width: 405px;
    z-index: 9999;}
.n_menu_header_triangle { border-bottom: 13px solid #E8EBF0;
	border-left: 13px solid #FFFFCC;
	border-right: 13px solid #FFFFCC;
	left: 45px;
	position: absolute;
	top: -13px;
	width: 0;
	z-index: 9999;}
.n_menu_header {height: 73px; width: 100%;}
.n_menu_line { background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	float: left;
	height: 1px;
	margin: 0 4%;
	width: 92%;}
.n_menu_header_user img {background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	float: left;
	height: 55px;
	margin: 8px 15px;
	width: 55px;}
.n_menu_header_user span {
	float: left;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 45px;
} 
.n_menu_header a {color: #666666;
	float: right;
	font-size: 14px;
	position: relative;
	right: 15px;
	top: 45px;}
.n_menu_cont { float: left;
    height: 295px;
    margin: 67px 13px 0;
    width: 360px;padding: 0 10px 0 0;}
.n_menu_left { float: left;
	height: 100%;
	border-right: 1px solid #CCCCCC;
	margin: 0;
	padding: 0;
	width: 180px;}
.n_menu_r { float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 179px;}
.n_menu_left li {float: left;
    list-style: none outside none;
    height: 23px;
    margin:0;
    padding: 7px 0;
    width: 100%;}

.n_menu_left li a {  text-decoration: none;
    width: 170px; margin-left: 10px;float: left;}
.n_menu_left li img {  float: left;
    height: 20px;
    margin: 1px 5px 0 10px;
    border-width: 0;
    width: 20px;}
.n_menu_left li p {color: #000000;
    float: left;
    font-size: 12px;
    margin: 3px 0;}
.n_menu_icon { background: url("../image/right_arrow.gif") no-repeat scroll left center transparent;
    float: right;
    height: 9px;
    margin: 6px;
    width: 9px;}
.n_menu_right li {float: left;
    list-style: none outside none;
    padding: 7px 0;
    width: 100%;}
.n_menu_right p {  font-size: 12px;
    margin: 3px 0 3px 40px;
    text-align: left;}
.n_menu_right a { float: left;
    width: 100%; color: #000000;
    font-size: 13px;
    text-decoration:none}
.n_menu_right ul li {list-style: none outside none;}
.n_menu_h {  background: url("../image/start_menu_panel_bg.png") no-repeat scroll 0 0 transparent;
    height: 67px;
    width: 405px;}
.n_menu_c { background: url("../image/start_menu_panel_bg.png") repeat-y scroll -404px 0 transparent;
    height: 250px;
    width: 405px;}
.n_menu_f { background: url("../image/start_menu_panel_bg.png") no-repeat scroll -808px 0 transparent;
    height: 65px;
    width: 405px;}
.n_menu_r_h {  background: url("../image/second_panel_bg.jpg") no-repeat scroll 0 0 transparent;
    height: 5px;
    overflow: hidden;}
.n_menu_r_c { background: url("../image/second_panel_bg.jpg") repeat-y scroll -200px 0 transparent;
    height: 293px;
    margin: 0;
    padding: 0;
    width: 100%;}
.n_menu_r_f {background: url("../image/second_panel_bg.jpg") no-repeat scroll -400px 0 transparent;
    height: 5px;
    overflow: hidden;}
.user_img { background: url("../image/admin.png") no-repeat scroll -4px 0 #fff;
    border: 3px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    height: 40px;
    left: 25px;
    position: relative;
    top: 16px;
    width: 40px;}

/*tabs css*/

.header_line {background-color: #CCCCCC;width:1px;height:100%;float: left;}
.header_home_btn { border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 10px 20px;
    padding: 2px 5px;}
.header_home_btn img {width:30px;height:30px;}
.header_right {width:202px;float:right;}
.header_right img {width:30px;height:30px;}
.header_right a {width:30px;height:30px;float: left;margin: 13px 10px;}
.n_tabs_btn {background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 30px;
    margin: 20px 20px 0 0;
    width: 60px;}
.n_tabs_btn a {   border-right: 1px solid #CCCCCC;
    float: left;
    height: 100%;
    width: 29px;}
  
.patch {width: 155px;height: 170px;background-color: #EBEBEB} 
.patch_header {height: 20px;width: 100%}
.patch_header a {width:15px;height: 15px;float:right;margin: 5px;}
.patch_header a img {width:15px;height: 15px;}
.patch_content img {float: left;
    height: 105px;
    margin: 5px 10px;
    width: 135px;}
.patch_footer {  float: left;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
    width: 100%;}
.n_content { height: 100%;
    margin: 50px auto;
    padding: 0;
    width: 920px;}
.n_content li {float: left;margin: 14px}
.content .n_list_view {background-color: #FFFFFF;width: 100%;height: 100%;float: left}
.n_from_view_left { background-color: #EEF1F8;
    float: left;
    height: 100%;
    position: absolute;
    border-right: 1px solid #BAC2CD;
    width: 200px;}
#content { bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;}
.n_from_view_right {
	 height: 100%;
    left: 201px;
    position: absolute;
    background-color: #DFE3EC
}
.n_from_view { background-color: #FFFFFF;
    border: 1px solid #BAC2CD;
    border-radius: 5px 5px 5px 5px;
    height: 96%;
    margin: 10px;}
.from_header { background-color: #EEF1F8;
    border-bottom: 1px solid #BAC2CD;
    border-radius: 0 0 5px 5px;
    bottom: 26px;
    height: 50px;
    position: absolute;
    width: 100%;}
.from_header button {
	 background-color: #F6F7F9;
    border: 1px solid #C8CFD5;
    border-radius: 3px 3px 3px 3px;
    float: left;
    height: 25px;
    margin: 12px;
    font-size: 13px;
    width: 100px;
}

.from_header p {  color: #397C8F;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 16px;}
    
    
    
    
    
    
    
    
    
/*----tabs--*/
#n_tabs {background-color: transparent;float: left;margin-top: 22px;width: 700px; margin-left: 101px;}
#n_tabs div.w2ui-tab {color: #3780DC;
    font-size: 13px; padding: 7px 20px 7px 15px;
    font-weight: bold;height: 30px}
#n_tabs div.w2ui-tab-close {margin: 7px 5px 0 4px;}
#n_tabs div.w2ui-tab {background-color:#F5F5F5}
#n_tabs div.active {background-color:#fff}
