body {
	margin: 0;
	padding: 0;
    background-color: #FFFFFF;
}

/*表单、详细信息框*/
.n_backImg {
	height: 100%;
    position: absolute;
    width: 100%;
}
.n_cont_view {
	overflow: hidden;
	background-color: #F5F5F5;
    bottom: 40px;
    left: 30px;
    position: absolute;
    border-radius: 2px 2px 2px 2px;
    right: 30px;
    top: 40px;
    z-index: 1;
}
.n_cont_view_h {
	height: 50px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}
.n_cont_view_h p {
	font-size: 18px;
    font-weight: bold;
    left: 20px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 13px;
}
.n_cont_view_c {
	background-color: #FFFFFF;
    height: 85%;
    position: relative;
    width: 100%;
}

.n_cont_tabs {
	left: 115px;
    position: relative;
    top: -11px;
}

.n_cont_tabs .w2ui-tab  {
	color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 20px;
}

.n_cont_tabs .w2ui-tab.active {
	color: #3780DC;
}

.n_cont_view_c .n_cont_view_c_v {
	float: left;
    padding-top: 35px;
    width: 100%;
}

.n_cont_view_btn_v {
	height: 50px;
    margin: 0 auto;
    width: 385px;
}

.n_cont_view_btn_v  table {
	float: left;
    table-layout: fixed;
    width: 50%;
}
