body {
	margin: 0;
	padding: 0
}
/*表单、详细信息框*/
.n_backImg {
	height: 100%;
    position: absolute;
    width: 100%;
}
.n_cont_view {
	overflow: hidden;
	background-color: #F5F5F5;
    bottom: 40px;
     border: 1px solid #FFFFFF;
    left: 30px;
    position: absolute;
    border-radius: 4px;
    right: 30px;
    top: 40px;
    z-index: 1;
}
.n_cont_view_h {
	height: 42px;
	width: 100%;
	background: url("../image/box_t_bg.jpg") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #CCCCCC;
}
.n_cont_view_h p {
	color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-weight: bold;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 13px;
}

.n_cont_view_c {
	background-color: #FFFFFF;
    height: 85%;
    position: relative;
    width: 100%;
}

.n_cont_tabs {
	float: left;
    left: 15px;
    position: relative;
    top: 4px;
    background-color:transparent
}

.n_cont_tabs .w2ui-tab  {
	color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 20px;
   	border:none;
	color:#fff
}

.n_cont_tabs .w2ui-tab.active {
	color: #3780DC;
}

.n_cont_view_c .n_cont_view_c_v {
	float: left;
    padding-top: 35px;
    width: 100%;
}

.n_cont_view_btn_v {
	height: 50px;
    margin: 0 auto;
    width: 385px;
}

.n_cont_view_h i {
	background-color: #FFFFFF;
    height: 15px;
    margin: 14px 10px;
    width: 5px;
    float: left
}

.n_cont_view_btn_v  table {
	float: left;
    table-layout: fixed;
    width: 50%;
}
