body,ul,li,dl,dt,dd {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.font-blue {
	color: #003399
}
/*公告栏组件*/
.notice_board {
	margin-top: 20px;
	overflow: hidden;
	border: 1px solid #DBDBDB;
	border-radius: 6px;
}
.notice_board dt {
	height: 35px;
	color: #0066FF;
	font: bold 16px  "微软雅黑";
	background: #EFEFEF;
	border-bottom: 1px solid #DBDBDB
}
.notice_board dt i, .notice_board dt span {
	display: block;
	height: 35px;
	line-height: 35px;
	float: left;
}
.notice_board dt i {
	width: 35px;
	background: url("../img/N-icon01.png") no-repeat
}
#notice_close {
	text-align:center;
	cursor:pointer;
	width: 35px;
	float: right
}
.notice_board dd {
	font: 12px  "微软雅黑";
	background: #F9F9F9
}
.notice_board li {
	float:left;
	width: 100%;
	padding: 0 30px 0 10px;
}
.notice_board dd a {
	overflow: hidden;
	display:block;
	height:26px;
	line-height: 26px;
	color: #000000;
	text-decoration: none
}
.notice_board dd i {
	display: block;
	float: left;
	height: 26px;
	width:26px;
	line-height: 26px;
	background: url("../img/N-icon02.png") no-repeat
}
.notice_board dd span {
	display:block;
	height: 26px;
}
.notice_content {
	float: left;
}
.notice_time {
	float: right;
}
/*bench-left*/
.bench_info {
	width: 227px;
	height:100%;
	background: #F5F5F5;
	border-right: 1px solid #B7B7B7;
	font: 12px "微软雅黑"
}
.bench_per_info i,.bench_online_info i {
	display: block;
	width: 227px;
	height: 65px;
	background: url("../img/N-icon04.png") no-repeat
}
.bench_online_info i {
	background: url("../img/N-icon03.png") no-repeat
}
.bench_info li {
	padding-left: 26px;
	height: 30px;
	line-height: 30px;
}
/*bench-right*/
.bench_tools {
	width: 300px;
	padding: 20px;
}
.notice_cal {
	height: 245px;
	width: 100%;
	background: #F5F5F5
}
.notice_msg {
	width: 100%;
	margin: 10px auto;
	border: 8px solid #DBDBDB;
	min-height: 100px;
	border-radius: 10px
}
