body {margin: 0;padding: 0}
ul li {
	 margin: 5px;
	 list-style: none;
}
img {border-width: 0;}
#fromHome {height: 100%;
    position: absolute;
    width: 100%;}
.n_menu_dec { display: block;
    height: 17px;
    left: 50px;
    overflow: hidden;
    position: absolute;
    top: -11px;
    width: 15px;}
.n_menu_dec1 {color: #CCCCCC;font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 17px;}
.n_menu_dec2 {color: #E8EBF0;top: 1px;  font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    width: 17px;}






.header {height:60px;width: 100%; background-color:#EBEBEB;border-bottom: 1px solid #CCCCCC;}
.n_menu {margin: 0;padding: 0;}
.n_menu_btn {background-color: #F7F7F7;border: 1px solid #CCCCCC;float: left;width: 130px;height:40px;color: #6A6A6A;margin: 10px; }
.n_menu_btn img {width:20px;height: 20px;margin: 10px;float: left;}
.n_menu_btn span {float: left;
    font-size: 18px;
    font-weight: bold;
    margin: 9px;letter-spacing: 10px;}
.n_menu {background: none repeat scroll 0 0 #E8EBF0;border: 1px solid #CCCCCC;height: 400px;margin: 0;
	padding: 0;position: absolute;top: 60px;width: 360px;z-index: 9999;
	border-radius: 0 4px 4px 0;}
.n_menu_header_triangle { border-bottom: 13px solid #E8EBF0;
	border-left: 13px solid #FFFFCC;
	border-right: 13px solid #FFFFCC;
	left: 45px;
	position: absolute;
	top: -13px;
	width: 0;
	z-index: 9999;}
.n_menu_header {height: 73px; width: 100%;}
.n_menu_line { background-color: #FFFFFF;
	border-top: 1px solid #CCCCCC;
	float: left;
	height: 1px;
	margin: 0 4%;
	width: 92%;}
.n_menu_header_user img {background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 6px 6px 6px 6px;
	float: left;
	height: 55px;
	margin: 8px 15px;
	width: 55px;}
.n_menu_header_user span {
	float: left;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: 45px;
} 
.n_menu_header a {color: #666666;
	float: right;
	font-size: 14px;
	position: relative;
	right: 15px;
	top: 45px;}
.n_menu_cont {  float: left;
    height: 100%;
    width: 100%;}
.n_menu_left { float: left;
	height: 100%;
	border-right: 1px solid #CCCCCC;
	margin: 0;
	padding: 0;
	width: 180px;}
.n_menu_right { float: left;
	height: 100%;
	margin: 0;
	background-color: #FFFFFF;
	padding: 0;
	width: 179px;}
.n_menu_left li {float: left;
    list-style: none outside none;
    height: 35px;
    margin-left: 18px;
    width: 90%;}

.n_menu_left li a { float: left;
	margin: 7px 0;
	text-decoration:none;
    width: 100%;}
.n_menu_left li img {  float: left;
    height: 20px;
    margin: 1px 5px 0 10px;
    border-width: 0;
    width: 20px;}
.n_menu_left li p {color: #000000;
    float: left;
    font-size: 12px;
    margin: 3px 0;}
.n_menu_icon { background: url("../image/right_arrow.gif") no-repeat scroll left center transparent;
    float: right;
    height: 9px;
    margin: 6px;
    width: 9px;}
.n_menu_right li {float: left;
    list-style: none outside none;
    padding: 7px 0;
    width: 100%;}
.n_menu_right p {  font-size: 12px;
    margin: 3px 0 3px 40px;
    text-align: left;}
.n_menu_right a { float: left;
    width: 100%; color: #000000;
    font-size: 13px;
    text-decoration:none}
.n_menu_right ul li {list-style: disc outside none;}


/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
	margin-left:8px;
	line-height:20px;
	height:20px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(../images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(../images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(../images/onLoad.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999');}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#000;}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#cc0;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #000; border-top:none; text-align:left;}
td{line-height:38px;}
.registerform td {
    text-align: left;
    vertical-align: top;
    font-size: 13px
}
.from_title {width: 65px}
.registerform label {margin-left: 5px;
    margin-right: 20px;}
.need {color:red}
.registerform .inputxt,
.registerform textarea{
	padding:10px;
	width:245px;
}
.Validform_checktip{display:none; line-height:38px; height:38px;}
.Validform_wrong,
.Validform_right,
.Validform_loading{display:block;}
.info{
	margin-left:8px; 
	border:1px solid #ccc; 
	padding:8px 20px 8px 10px; 
	color:#666; 
	float:left;
	position:relative;
	display:none;
	line-height:20px;
}
.dec {
    top: 9px;
    display: block;
    height: 17px;
    overflow: hidden;
    position: absolute;
    left: -8px;
    width: 8px;
}
.dec s {
    font-family: simsun;
    font-size: 16px;
    height: 19px;
    left: 0;
    line-height: 21px;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 17px;
}
.dec .dec1 {
    color: #ccc;
}
.dec .dec2 {
    color: #fff;
    left: 1px;
}

.registerform .inputxt, .registerform textarea {
    padding: 10px;
    width: 245px;
    border: 1px solid #A5AEB6;
    vertical-align: middle;
}
button, input, select, textarea {
    color: #484848;
    font-family: tahoma,arial,simsun,sans-serif;
    font-size: 1em;
    margin: 0;
}

.footer {bottom: 0;
    position: absolute;z-index: 666;}
.n_k_menu_btn {position: relative;width: 45px;height: 45px;margin: 16px;background:url("../image/8.png") no-repeat left center;}
.n_k_menu {height: 100%;width: 200px;position: relative;top: 50px;}
.n_k_menu_btn_view { border: 1px solid #CCCCCC;
    border-radius: 30px 30px 30px 30px;
     background-color: #FFFFFF;
    height: 80px;
    top: -50px;
    margin: -17px 8px;
    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc;
    width: 57px;}
.n_k_menu_view { background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0 5px 5px 0;
    left: 8px;
    min-height: 50px;
    position: absolute;
    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc;
    top: -45px;
    z-index: 1;
    width: 200px;}
.n_k_menu_line_view {
	 background-color: #FFFFFF;
    height: 20px;
    left: 9px;
    position: absolute;
    top: 8px;
    width: 57px;
    z-index: 5;
}

.n_k_menu_view ul li {
	 margin: 5px;
	 list-style: none;
}
.n_k_menu_view ul li a {
	color: #4290D8;
	text-decoration:none;
    font-size: 13px;
}

/*tabs css*/
#n_tabs {background-color: #EBEBEB;float: left;margin-top: 33px;width: 700px;}
.header_line {background-color: #CCCCCC;width:1px;height:100%;float: left;}
.header_home_btn { border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 10px 20px;
    padding: 2px 5px;}
.header_home_btn img {width:30px;height:30px;}
.header_right {width:202px;float:right;border-left: 1px solid #ccc;}
.header_right img {width:30px;height:30px;}
.header_right a {width:30px;height:30px;float: left;margin: 15px 10px;}
.n_tabs_btn {background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    float: right;
    height: 30px;
    margin: 20px 20px 0 0;
    width: 60px;}
.n_tabs_btn a {   border-right: 1px solid #CCCCCC;
    float: left;
    height: 100%;
    width: 29px;}
  
.patch {width: 155px;height: 170px;background-color: #EBEBEB} 
.patch_header {height: 20px;width: 100%}
.patch_header a {width:15px;height: 15px;float:right;margin: 5px;}
.patch_header a img {width:15px;height: 15px;}
.patch_content img {float: left;
    height: 105px;
    margin: 5px 10px;
    width: 135px;}
.patch_footer {  float: left;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
    width: 100%;}
.n_content { height: 100%;
    margin: 50px auto;
    padding: 0;
    width: 920px;}
.n_content li {float: left;margin: 14px}
.content .n_list_view {background-color: #FFFFFF;width: 100%;height: 100%;float: left}
.n_from_view_left { background-color: #EEF1F8;
    float: left;
    height: 100%;
    position: absolute;
    border-right: 1px solid #BAC2CD;
    width: 200px;}
#content { bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;}
.n_from_view_right {
	 height: 100%;
    left: 201px;
    position: absolute;
    background-color: #DFE3EC
}
.n_from_view { background-color: #FFFFFF;
    border: 1px solid #BAC2CD;
    border-radius: 5px 5px 5px 5px;
    height: 96%;
    margin: 10px;}
.from_header { background-color: #EEF1F8;
    border-bottom: 1px solid #BAC2CD;
    border-radius: 5px 5px 0 0;
    height: 50px;
    width: 100%;}

.from_header p {  color: #397C8F;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 16px;}
